<?xml version="1.0" encoding="utf-8"?>
<config>
  <piece_size des="单个文件大小，单位MB，0不限制">4096</piece_size>
  <proxy des="代理设置">socks5://127.0.0.1:28736</proxy>
  <check_interval des="默认检测间隔，单位秒">15</check_interval>
  <out_put_dir_path des="输出目录">./</out_put_dir_path>
  <rclone_mount_dir des="rclone mount目录">./</rclone_mount_dir>
  <record_rules>
    <rule>
      <urls des="监控urls,多个url用;分割"></urls>
      <enable_uploaders auto_remove="1" des="auto_remove自动删除。0 gdrive;1 youtube">0</enable_uploaders>
      <loop des="循环录制 0 no;1 yes;else error">1</loop>
      <check_interval>10</check_interval>
    </rule>
  </record_rules>
</config>
